In [ ]:
pip install bayesian-optimization

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bayesian-optimization
  Downloading bayesian-optimization-1.2.0.tar.gz (14 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.21.6)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (1.1.0)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.2.0-py3-none-any.whl size=11685 sha256=63343ddce003563a7a46b9df4c43d6de1f3943cb5cba65df17279224f5a76873
  Stored in directory: /root/.cache/pip/wheels/fd/9b/71/f127d694e02eb40bcf18c7ae9613b88a6be4470f57a8528c5b
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.2.0

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
import tensorflow as tf
from keras import regularizers
from sklearn.preprocessing import MinMaxScaler
from bayes_opt import BayesianOptimization

In [ ]:
kt_csv = pd.read_csv('/content/drive/MyDrive/kt/round1_train.csv')

In [ ]:
kt_csv

,시각,ADID,ADID 타입,DSP ID,매체 ID,애드유닛 ID,플랫폼,OS 종류,사이즈 ID,노출 ID,...,광고 응답 소재 카테고리,광고 응답 광고주 도메인,국가코드 ID,OS 버전 ID,P1,P2,P3,P4,P5,winning
0,20220403000000,45503fc5d8d3a06832a087581ff6b6b4937b4d41d2d2cd...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,eb2cb8788b9462b49c35c1ca9a4b5828b9153274041a3a...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.230556,49.32900,36.54,45.661389,0.000000,0
1,20220403000000,59ae8bfa45031b28d30dc1ad6486d702148b1fbd461fd5...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,d64dbe2039165cce22fae7c7f16259596a196f149f08e7...,a2f05b9f2662f44757f69656801c4c0bd83e95caa10ddb...,1,1,2,c215404374628df7ea645a3cbc8a40df8972ca95b46f30...,...,NaN,a93d703987.com,1012.0,NaN,1205.820000,49.32900,36.54,723.492000,590.973600,1
2,20220403000000,c57351c77526224145cc7a5f48de890754943c71363d80...,5,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,75cb5f369879cd6fa900bea129c1037432a00d6ae94128...,40f3cb27c781d1130b7565836803f952a2e327e6db72ae...,3,1,3,ed2e5996d4f0f524177eb84050fb10680899d93dc8d1fe...,...,NaN,32863daa33.com,1012.0,NaN,482.328000,250.00059,243.60,289.396800,255.780012,1
3,20220403000000,93aca0b9a68e60ff423feeeae48d02007fab3920bc5d4f...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,71d399d29493273a7b33fd13344c6ba7764b5e336df44a...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1002.0,65.230556,49.32900,36.54,45.661389,0.000000,0
4,20220403000000,92a710e711b4d911c9c20ce04c6ce0381a3fbd9dcb3ba3...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,003d0bfc2d6181540c0343eb1b5b242b7219c1878d581e...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1011.0,65.230556,49.32900,36.54,45.661389,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8525507,20220409235959,c3f09ead5c48d3963994bb1d22ee3e5aabc6231962ba1d...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,d64dbe2039165cce22fae7c7f16259596a196f149f08e7...,a2f05b9f2662f44757f69656801c4c0bd83e95caa10ddb...,1,1,2,78166d8ab99d327af1ae07155115cc4ea85281ecdc5b90...,...,NaN,3a8436b895.26fd66689d.com,1012.0,NaN,275.563200,49.73400,36.84,165.337920,159.640000,1
8525508,20220409235959,14e0b00bb97e4aaa523e034f7a3ab7c960f60776d29766...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,0ce79ee7b3ae2bf693d51cb98ba808cff0ae78139806ac...,...,NaN,cf6e81993e.co.kr,1012.0,NaN,81.048000,49.73400,36.84,48.628800,41.820764,1
8525509,20220409235959,563c88c3eb3e455273f843430be728dbce40666ba15f66...,5,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,58e82266d3dd5e06208ea5e5935130faf276e4f95c3553...,95380be2c6bdb9fddef405417310251a1f3524b3761033...,3,1,1,7c34480449a8d6379ab49073e892e043849f4ab2914f1f...,...,NaN,9250687113.co.kr,1012.0,NaN,664.593600,240.00032,368.40,398.756160,380.680000,1
8525510,20220409235959,7780f913123f259c2ec2a48770a23fb5e97791fecaa76b...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,546a640e3607a1f3e0fac206f1b6f8ffd924fa1e78da2c...,...,NaN,7443953d97.co.kr,1012.0,NaN,145.886400,49.73400,36.84,87.531840,82.305472,1
8525511,20220409235959,aeb260a9bbd44de63bb727ef5e7a2775934e92ecca9c15...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,8554bedc7627aa778007a61d47ef53d5f4d390bad9a608...,...,NaN,0cc933587d.com,1012.0,NaN,145.886400,49.73400,36.84,87.531840,85.960000,1

In [ ]:
kt_csv.isnull().sum()

시각                      0
ADID                18655
ADID 타입                 0
DSP ID                  0
매체 ID                   0
애드유닛 ID                 0
플랫폼                     0
OS 종류                   0
사이즈 ID                  0
노출 ID                   0
SSP 입찰ID                0
DSP 입찰ID                0
AX 낙찰ID                 0
WUID (웹 유저 ID)    7624421
환율                      0
광고 응답 소재 카테고리     5732131
광고 응답 광고주 도메인        3012
국가코드 ID              5536
OS 버전 ID          7133058
P1                      0
P2                      0
P3                      0
P4                      0
P5                      0
winning                 0
dtype: int64

In [ ]:
# mfreq1 = kt_csv['광고 응답 광고주 도메인'].value_counts().idxmax()
# mfreq2 = kt_csv['국가코드 ID'].value_counts().idxmax()
# mfreq3 = kt_csv['ADID'].value_counts().idxmax()
mfreq4 = kt_csv['WUID (웹 유저 ID)'].value_counts().idxmax()
# mfreq5 = kt_csv['광고 응답 소재 카테고리'].value_counts().idxmax()
# mfreq6 = kt_csv['OS 버전 ID'].value_counts().idxmax()

In [ ]:
# kt_csv['광고 응답 광고주 도메인'] = kt_csv['광고 응답 광고주 도메인'].fillna(mfreq1)
# kt_csv['국가코드 ID'] = kt_csv['국가코드 ID'].fillna(mfreq2)
# kt_csv['ADID'] = kt_csv['ADID'].fillna(mfreq3)
kt_csv['WUID (웹 유저 ID)'] = kt_csv['WUID (웹 유저 ID)'].fillna(mfreq4)
# kt_csv['광고 응답 소재 카테고리'] = kt_csv['광고 응답 소재 카테고리'].fillna(mfreq5)
# kt_csv['OS 버전 ID'] = kt_csv['OS 버전 ID'].fillna(mfreq6)

In [ ]:
# # 시각부분 전처리
# # 요일 -> 월목/ 화수일/ 금토
# # 시간 -> 11~14, 18~1: 상 / 8~11, 14~18: 중 / else: 하
# from datetime import datetime, date

# week = {0: '월목', 1: '화수일', 2: '화수일', 3: '월목', 4: '금토', 5: '금토', 6: '화수일'} # weekday 0~6는 월~일 
# for i, v in enumerate(kt_csv['시각']):
#     cat = ''
#     v = str(v)

#     year, month, day, hour = int(v[:4]), int(v[4:6]), int(v[6:8]), int(v[8:10])
#     cat += week[datetime(year, month, day).weekday()]
    
#     if 11 <= hour < 14 or 18 <= hour < 1: cat += ' 상'
#     elif 8 <= hour < 11 or 14 <= hour < 18: cat += ' 중'
#     else: cat += ' 하'
    
#     kt_csv['시각'][i] = cat

In [ ]:
kt_csv

,시각,ADID,ADID 타입,DSP ID,매체 ID,애드유닛 ID,플랫폼,OS 종류,사이즈 ID,노출 ID,...,광고 응답 소재 카테고리,광고 응답 광고주 도메인,국가코드 ID,OS 버전 ID,P1,P2,P3,P4,P5,winning
0,20220403000000,45503fc5d8d3a06832a087581ff6b6b4937b4d41d2d2cd...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,eb2cb8788b9462b49c35c1ca9a4b5828b9153274041a3a...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.230556,49.32900,36.54,45.661389,0.000000,0
1,20220403000000,59ae8bfa45031b28d30dc1ad6486d702148b1fbd461fd5...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,d64dbe2039165cce22fae7c7f16259596a196f149f08e7...,a2f05b9f2662f44757f69656801c4c0bd83e95caa10ddb...,1,1,2,c215404374628df7ea645a3cbc8a40df8972ca95b46f30...,...,NaN,a93d703987.com,1012.0,NaN,1205.820000,49.32900,36.54,723.492000,590.973600,1
2,20220403000000,c57351c77526224145cc7a5f48de890754943c71363d80...,5,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,75cb5f369879cd6fa900bea129c1037432a00d6ae94128...,40f3cb27c781d1130b7565836803f952a2e327e6db72ae...,3,1,3,ed2e5996d4f0f524177eb84050fb10680899d93dc8d1fe...,...,NaN,32863daa33.com,1012.0,NaN,482.328000,250.00059,243.60,289.396800,255.780012,1
3,20220403000000,93aca0b9a68e60ff423feeeae48d02007fab3920bc5d4f...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,71d399d29493273a7b33fd13344c6ba7764b5e336df44a...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1002.0,65.230556,49.32900,36.54,45.661389,0.000000,0
4,20220403000000,92a710e711b4d911c9c20ce04c6ce0381a3fbd9dcb3ba3...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,003d0bfc2d6181540c0343eb1b5b242b7219c1878d581e...,...,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1011.0,65.230556,49.32900,36.54,45.661389,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8525507,20220409235959,c3f09ead5c48d3963994bb1d22ee3e5aabc6231962ba1d...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,d64dbe2039165cce22fae7c7f16259596a196f149f08e7...,a2f05b9f2662f44757f69656801c4c0bd83e95caa10ddb...,1,1,2,78166d8ab99d327af1ae07155115cc4ea85281ecdc5b90...,...,NaN,3a8436b895.26fd66689d.com,1012.0,NaN,275.563200,49.73400,36.84,165.337920,159.640000,1
8525508,20220409235959,14e0b00bb97e4aaa523e034f7a3ab7c960f60776d29766...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,0ce79ee7b3ae2bf693d51cb98ba808cff0ae78139806ac...,...,NaN,cf6e81993e.co.kr,1012.0,NaN,81.048000,49.73400,36.84,48.628800,41.820764,1
8525509,20220409235959,563c88c3eb3e455273f843430be728dbce40666ba15f66...,5,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,58e82266d3dd5e06208ea5e5935130faf276e4f95c3553...,95380be2c6bdb9fddef405417310251a1f3524b3761033...,3,1,1,7c34480449a8d6379ab49073e892e043849f4ab2914f1f...,...,NaN,9250687113.co.kr,1012.0,NaN,664.593600,240.00032,368.40,398.756160,380.680000,1
8525510,20220409235959,7780f913123f259c2ec2a48770a23fb5e97791fecaa76b...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,546a640e3607a1f3e0fac206f1b6f8ffd924fa1e78da2c...,...,NaN,7443953d97.co.kr,1012.0,NaN,145.886400,49.73400,36.84,87.531840,82.305472,1
8525511,20220409235959,aeb260a9bbd44de63bb727ef5e7a2775934e92ecca9c15...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,8554bedc7627aa778007a61d47ef53d5f4d390bad9a608...,...,NaN,0cc933587d.com,1012.0,NaN,145.886400,49.73400,36.84,87.531840,85.960000,1

In [ ]:
kt_csv.corr()

,시각,ADID 타입,플랫폼,OS 종류,사이즈 ID,환율,국가코드 ID,OS 버전 ID,P1,P2,P3,P4,P5,winning
시각,1.000000,0.234204,0.232703,0.080364,0.155681,0.478273,0.045410,0.090035,0.101444,0.135631,0.159017,0.102810,0.157412,0.074408
ADID 타입,0.234204,1.000000,0.683246,0.072080,0.336244,0.133041,0.014867,0.226714,0.110169,0.108759,0.181219,0.108624,0.692513,0.554950
플랫폼,0.232703,0.683246,1.000000,0.081693,0.403691,0.122718,0.025258,0.226714,0.148483,0.151423,0.246852,0.146285,0.450218,0.267143
OS 종류,0.080364,0.072080,0.081693,1.000000,0.092746,0.046355,0.413776,0.226714,0.420944,0.524327,0.508821,0.418498,-0.036040,-0.062297
사이즈 ID,0.155681,0.336244,0.403691,0.092746,1.000000,0.067324,0.091176,0.096084,0.104912,0.190763,0.204366,0.109288,0.169412,0.140071
환율,0.478273,0.133041,0.122718,0.046355,0.067324,1.000000,0.034538,0.022072,0.065173,0.075393,0.089045,0.065117,0.104991,0.111406
국가코드 ID,0.045410,0.014867,0.025258,0.413776,0.091176,0.034538,1.000000,0.094373,0.031561,0.035457,0.031989,0.031263,-0.024418,-0.039037
OS 버전 ID,0.090035,0.226714,0.226714,0.226714,0.096084,0.022072,0.094373,1.000000,0.118632,0.166567,0.166567,0.120273,0.005444,-0.010823
P1,0.101444,0.110169,0.148483,0.420944,0.104912,0.065173,0.031561,0.118632,1.000000,0.704936,0.707589,0.999572,0.143815,-0.002078
P2,0.135631,0.108759,0.151423,0.524327,0.190763,0.075393,0.035457,0.166567,0.704936,1.000000,0.991833,0.714746,0.040094,-0.027403
P3,0.159017,0.181219,0.246852,0.508821,0.204366,0.089045,0.031989,0.166567,0.707589,0.991833,1.000000,0.717001,0.106821,0.006547
P4,0.102810,0.108624,0.146285,0.418498,0.109288,0.065117,0.031263,0.120273,0.999572,0.714746,0.717001,1.000000,0.142161,-0.003713
P5,0.157412,0.692513,0.450218,-0.036040,0.169412,0.104991,-0.024418,0.005444,0.143815,0.040094,0.106821,0.142161,1.000000,0.548990
winning,0.074408,0.554950,0.267143,-0.062297,0.140071,0.111406,-0.039037,-0.010823,-0.002078,-0.027403,0.006547,-0.003713,0.548990,1.000000

In [ ]:
kt_csv.isnull().sum()

시각                      0
ADID                18655
ADID 타입                 0
DSP ID                  0
매체 ID                   0
애드유닛 ID                 0
플랫폼                     0
OS 종류                   0
사이즈 ID                  0
노출 ID                   0
SSP 입찰ID                0
DSP 입찰ID                0
AX 낙찰ID                 0
WUID (웹 유저 ID)          0
환율                      0
광고 응답 소재 카테고리     5732131
광고 응답 광고주 도메인        3012
국가코드 ID              5536
OS 버전 ID          7133058
P1                      0
P2                      0
P3                      0
P4                      0
P5                      0
winning                 0
dtype: int64

In [ ]:
kt_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8525512 entries, 0 to 8525511
Data columns (total 25 columns):
 #   Column          Dtype
---  ------          -----
 0   시각              int64
 1   ADID            object
 2   ADID 타입         int64
 3   DSP ID          object
 4   매체 ID           object
 5   애드유닛 ID         object
 6   플랫폼             int64
 7   OS 종류           int64
 8   사이즈 ID          int64
 9   노출 ID           object
 10  SSP 입찰ID        object
 11  DSP 입찰ID        object
 12  AX 낙찰ID         object
 13  WUID (웹 유저 ID)  object
 14  환율              float64
 15  광고 응답 소재 카테고리   object
 16  광고 응답 광고주 도메인   object
 17  국가코드 ID         float64
 18  OS 버전 ID        float64
 19  P1              float64
 20  P2              float64
 21  P3              float64
 22  P4              float64
 23  P5              float64
 24  winning         int64
dtypes: float64(8), int64(6), object(11)
memory usage: 1.6+ GB

In [ ]:
# kt_csv['시각'] = kt_csv['시각'].astype('category')
# kt_csv['ADID'] = kt_csv['ADID'].astype('category')
# kt_csv['DSP ID'] = kt_csv['DSP ID'].astype('category')
# kt_csv['노출 ID'] = kt_csv['노출 ID'].astype('category')
# kt_csv['SSP 입찰ID'] = kt_csv['SSP 입찰ID'].astype('category')
# kt_csv['DSP 입찰ID'] = kt_csv['DSP 입찰ID'].astype('category')
# kt_csv['AX 낙찰ID'] = kt_csv['AX 낙찰ID'].astype('category')
kt_csv['WUID (웹 유저 ID)'] = kt_csv['WUID (웹 유저 ID)'].astype('category')
# kt_csv['광고 응답 소재 카테고리'] = kt_csv['AX 낙찰ID'].astype('category')
# kt_csv['매체 ID'] = kt_csv['매체 ID'].astype('category')
# kt_csv['애드유닛 ID'] = kt_csv['애드유닛 ID'].astype('category')
# kt_csv['광고 응답 광고주 도메인'] = kt_csv['광고 응답 광고주 도메인'].astype('category')

In [ ]:
ndf = kt_csv.drop(['시각', '환율', 'ADID', 'ADID 타입', '매체 ID', 'OS 종류', '노출 ID', 'SSP 입찰ID', 'DSP 입찰ID', 'AX 낙찰ID', '광고 응답 소재 카테고리', '광고 응답 광고주 도메인', '국가코드 ID', 'OS 버전 ID', 'P2','P5'], axis = 'columns')

In [ ]:
labelencoder=LabelEncoder()
for col in ndf.columns:
    ndf[col] = labelencoder.fit_transform(ndf[col])

In [ ]:
# ndf = pd.get_dummies(ndf)

In [ ]:
# ndf.info()

In [ ]:
ndf

,DSP ID,애드유닛 ID,플랫폼,사이즈 ID,WUID (웹 유저 ID),P1,P3,P4,winning
0,6,278,0,2,193097,495,2,102575,0
1,5,634,0,1,193097,889313,2,889146,1
2,5,247,2,2,193097,765476,384,765321,1
3,6,278,0,2,193097,495,2,102575,0
4,6,278,0,2,193097,495,2,102575,0
...,...,...,...,...,...,...,...,...,...
8525507,5,634,0,1,193097,633929,5,633777,1
8525508,5,858,0,0,193097,146080,5,145929,1
8525509,5,571,2,0,193097,824042,887,823889,1
8525510,5,858,0,0,193097,417742,5,417588,1
8525511,5,858,0,0,193097,417742,5,417588,1

In [ ]:
ny = ndf['winning'].values
nx = ndf.drop(['winning'], axis=1).values
nx = (nx - nx.min()) / (nx.max() - nx.min())

In [ ]:
nny = ndf['winning'].values

In [ ]:
# nny.shape

In [ ]:
# y = tf.keras.utils.to_categorical(y, num_classes=2) #one-hot encoding

In [ ]:
ny = tf.keras.utils.to_categorical(ny, num_classes=2) #one-hot encoding

In [ ]:
nx.shape, ny.shape

((8525512, 8), (8525512, 2))

In [ ]:
np.isnan(nx).any(), np.isnan(ny).any()

(False, False)

In [ ]:
nx

array([[6.37857479e-06, 2.95540632e-04, 0.00000000e+00, ...,
        5.26232420e-04, 2.12619160e-06, 1.09047052e-01],
       [5.31547899e-06, 6.74002736e-04, 0.00000000e+00, ...,
        9.45424914e-01, 2.12619160e-06, 9.45247377e-01],
       [5.31547899e-06, 2.62584662e-04, 2.12619160e-06, ...,
        8.13774320e-01, 4.08228787e-04, 8.13609540e-01],
       ...,
       [5.31547899e-06, 6.07027701e-04, 2.12619160e-06, ...,
        8.76035588e-01, 9.42965973e-04, 8.75872935e-01],
       [5.31547899e-06, 9.12136195e-04, 0.00000000e+00, ...,
        4.44099765e-01, 5.31547899e-06, 4.43936048e-01],
       [5.31547899e-06, 9.12136195e-04, 0.00000000e+00, ...,
        4.44099765e-01, 5.31547899e-06, 4.43936048e-01]])

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(nx, ny, test_size = 0.1, random_state=42)

In [ ]:
xx_train, xx_val, yy_train, yy_val = train_test_split(nx, nny, test_size = 0.1, random_state=42)

In [ ]:
# from sklearn.metrics import r2_score, mean_squared_error
# import xgboost as xgb

# # MAPE Metric
# def mean_absolute_percentage_error(yy_val, y_pred):
#     yy_val, y_pred = np.array(yy_val), np.array(y_pred)
#     return np.mean(np.abs((yy_val - y_pred) / yy_val)) * 100

# # 탐색 대상 함수 (XGBRegressor)
# def XGB_cv(max_depth,learning_rate, n_estimators, gamma
#             ,min_child_weight, subsample
#             ,colsample_bytree, silent=True, nthread=-1):

#     # 모델 정의
#     model = xgb.XGBClassifier(max_depth=int(max_depth),
#                             learning_rate=learning_rate,
#                             n_estimators=int(n_estimators),
#                             gamma=gamma,
#                             min_child_weight=min_child_weight,
#                             subsample=subsample,
#                             colsample_bytree=colsample_bytree, 
#                             nthread=nthread,
#                             tree_method='gpu_hist'
#                             )
#     # 모델 훈련
#     model.fit(xx_train, yy_train)

#     # 예측값 출력
#     y_pred= model.predict(xx_val)

#     # 각종 metric 계산
#     rmse = np.sqrt(mean_squared_error(yy_val, y_pred))
#     r2 = r2_score(yy_val, y_pred)
#     mape = mean_absolute_percentage_error(yy_val, y_pred)

#     # 오차 최적화로 사용할 metric 반환
#     return r2

In [ ]:
# # 실험해보고자하는 hyperparameter 집합
# test_bounds = {
#     'max_depth': (2, 10),
#     'learning_rate': (0.01, 0.2),
#     'n_estimators': (5000, 10000),
#     'gamma': (0, 100),
#     'min_child_weight': (0, 3),
#     'subsample': (0.5, 1),
#     'colsample_bytree' :(0.2, 1)
# }

In [ ]:
# # Bayesian optimization 객체 생성
# # f : 탐색 대상 함수, pbounds : hyperparameter 집합
# # verbose = 2 항상 출력, verbose = 1 최댓값일 때 출력, verbose = 0 출력 안함
# # random_state : Bayesian Optimization 상의 랜덤성이 존재하는 부분을 통제 
# bo=BayesianOptimization(f=XGB_cv, pbounds=test_bounds, verbose=2, random_state=1 )

In [ ]:
# # 메소드를 이용해 최대화 과정 수행
# # init_points :  초기 Random Search 갯수
# # n_iter : 반복 횟수 (몇개의 입력값-함숫값 점들을 확인할지! 많을 수록 정확한 값을 얻을 수 있다.)
# # acq : Acquisition Function들 중 Expected Improvement(EI) 를 사용
# # xi : exploration 강도 (기본값은 0.0)
# bo.maximize(init_points=2, n_iter=50, acq='ei', xi=0.5)

In [ ]:
# # ‘iter’는 반복 회차, ‘target’은 목적 함수의 값, 나머지는 입력값을 나타냅니다. 
# # 현재 회차 이전까지 조사된 함숫값들과 비교하여, 현재 회차에 최댓값이 얻어진 경우, 
# # bayesian-optimization 라이브러리는 이를 자동으로 다른 색 글자로 표시하는 것을 확인할 수 있습니다

# # 찾은 파라미터 값 확인
# bo.max

In [ ]:
# #XGBoost모델의 정확도
# from xgboost import XGBClassifier

# xgbm = XGBClassifier(
#                      colsample_bytree = 0.5373638966605134,
#                      gamma = 96.95379387360022,
#                      max_depth = 9,
#                      min_child_weight = 2.860639159783224,
#                      subsample = 0.6333975735601048,
#                      tree_method='gpu_hist', 
#                      n_estimators=8940, 
#                      learning_rate=0.1388146251654753
#                     )
# xgbm.fit(xx_train, yy_train)
# xgbm.score(xx_val, yy_val)

In [ ]:
# # 의사결정트리모델의 정확도
# from sklearn import tree

# treem = tree.DecisionTreeClassifier(
#                                     max_depth=None, 
#                                     min_samples_split=2, 
#                                     max_features=None, 
#                                     min_samples_leaf=1,
#                                     criterion = 'entropy'
#                                     )
# treem.fit(x_train, y_train)
# treem.score(x_val, y_val)

In [ ]:
#랜덤포레스트모델의 정확도
from sklearn.ensemble import RandomForestClassifier   

rfc = RandomForestClassifier(
                            n_estimators=150, 
                            max_depth=None, 
                            min_samples_split=2, 
                            #  class_weight='balanced', 
                            min_samples_leaf=2,
                            )
rfc.fit(x_train, y_train)
rfc.score(x_val, y_val)

0.8614395368259062

In [ ]:
# # 나이브 베이즈모델의 정확도
# from sklearn.naive_bayes import GaussianNB

# gnb = GaussianNB()
# gnb.fit(xx_train, yy_train)
# gnb.score(xx_val, yy_val)

In [ ]:
# # GB 모델의 정확도
# gb = GradientBoostingClassifier()
# gb.fit(xx_train, yy_train)
# gb.score(xx_val, yy_val)

In [ ]:
# #서포트벡터머신 모델의 정확도
# from sklearn import svm 

# svmm = svm.SVC()
# svmm.fit(xx_train, yy_train)
# svmm.score(xx_train, yy_train)