In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from keras import regularizers
import joblib
import os

In [ ]:
os.mkdir('result')

FileExistsError: ignored

In [ ]:
kt_csv = pd.read_csv('/content/drive/MyDrive/kt/round1_test.csv')

In [ ]:
kt_csv

,Bid Index,시각,ADID,ADID 타입,DSP ID,매체 ID,애드유닛 ID,플랫폼,OS 종류,사이즈 ID,...,WUID (웹 유저 ID),환율,광고 응답 소재 카테고리,광고 응답 광고주 도메인,국가코드 ID,OS 버전 ID,P1,P2,P3,P4
0,bid0000000,20220410000000,2c96ed2acabe7e4e0dfabff06a38fcec2cf86b58a89565...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,b35513b488.com,1012.0,NaN,113.467200,49.73400,36.84,68.080320
1,bid0000001,20220410000000,e80b2e6116d9415c80f15f68a7036d81f0c31731b8afcc...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,NaN,1228.0,IAB8,b6dc7509bf.co.kr,1012.0,NaN,202.620000,49.73400,36.84,121.572000
2,bid0000002,20220410000000,55e2e9843e93dd5c860dce4b4167d6f49892fcb7eea643...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,48b1220d1d.com,1012.0,NaN,97.257600,49.73400,36.84,58.354560
3,bid0000003,20220410000000,07fd4e28c392a8027eafadb8540c15b9b75a60723609c9...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,NaN,1228.0,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.766110,49.73400,36.84,46.036277
4,bid0000004,20220410000000,295bb005fd6045ea85e262d2fbb72ece76ab60be0db120...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,NaN,1228.0,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.766110,49.73400,36.84,46.036277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624137,bid0624137,20220410132810,549c51cc2f21b3447000e41eb3a9e32a4f0891174bd409...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,NaN,1228.0,IAB2,b0aca0f98a.com,1012.0,NaN,235.907572,49.73400,36.84,141.544543
624138,bid0624138,20220410132810,51f1181ef79addff95fdc875e228424a371323b27f302c...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,IAB9-25,8f890920d3.com,1012.0,NaN,125.256000,49.73400,36.84,75.153600
624139,bid0624139,20220410132810,3f1f9b5abb68bea2d275e9ed3867e48a322e55915da6d8...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,d913cb516e.kr,1012.0,NaN,129.676800,49.73400,36.84,77.806080
624140,bid0624140,20220410132810,bd520bad60995fd2c5f82d385d0168a2b2ad4268c82a95...,1,95369047233b18ea02be6d42399d7f6a2262834ae5d066...,f50daedc59d7a0d361e9bbc543ed3f0b9276578b2aa43e...,de36c9fee3be8d1c87d6d4223689334ada3bb37ddef18e...,3,1,1,...,71d53727bca0b54def45997e792523a25a35f5c0479f9d...,1228.0,IAB13,56847be69a.co.kr,1012.0,NaN,309.801587,120.00016,122.80,185.880952
624141,bid0624141,20220410132810,fb61d80dda64b766c4b5161e5f97307894d871a8c4b264...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,IAB9-30,6d18957d09.com,1012.0,NaN,100.204800,49.73400,36.84,60.122880

In [ ]:
kt_csv.isnull().sum()

Bid Index              0
시각                     0
ADID                 659
ADID 타입                0
DSP ID                 0
매체 ID                  0
애드유닛 ID                0
플랫폼                    0
OS 종류                  0
사이즈 ID                 0
노출 ID                  0
SSP 입찰ID               0
DSP 입찰ID               0
AX 낙찰ID                0
WUID (웹 유저 ID)    533284
환율                     0
광고 응답 소재 카테고리     371765
광고 응답 광고주 도메인        167
국가코드 ID               27
OS 버전 ID          454261
P1                     0
P2                     0
P3                     0
P4                     0
dtype: int64

In [ ]:
mfreq4 = kt_csv['WUID (웹 유저 ID)'].value_counts().idxmax()

In [ ]:
kt_csv['WUID (웹 유저 ID)'] = kt_csv['WUID (웹 유저 ID)'].fillna(mfreq4)

In [ ]:
kt_csv['WUID (웹 유저 ID)'] = kt_csv['WUID (웹 유저 ID)'].astype('category')

In [ ]:
ndf = kt_csv.drop(['Bid Index', '시각', '환율', 'ADID', '매체 ID', 'OS 종류', '노출 ID', 'SSP 입찰ID', 'DSP 입찰ID', 'AX 낙찰ID', '광고 응답 소재 카테고리', '광고 응답 광고주 도메인', '국가코드 ID', 'OS 버전 ID', 'P2'], axis = 'columns')

In [ ]:
labelencoder=LabelEncoder()
for col in ndf.columns:
    ndf[col] = labelencoder.fit_transform(ndf[col])

In [ ]:
ndf

,ADID 타입,DSP ID,애드유닛 ID,플랫폼,사이즈 ID,WUID (웹 유저 ID),P1,P3,P4
0,0,5,304,0,0,33987,24377,0,24368
1,0,2,311,0,2,33987,40276,0,40267
2,0,5,304,0,0,33987,19044,0,19035
3,0,6,90,0,2,33987,32,0,8319
4,0,6,90,0,2,33987,32,0,8319
...,...,...,...,...,...,...,...,...,...
624137,0,2,311,0,2,33987,46898,0,46889
624138,0,2,304,0,0,33987,27289,0,27280
624139,0,5,304,0,0,33987,28272,0,28263
624140,0,3,306,2,0,21754,56426,15,56417
624141,0,2,304,0,0,33987,20107,0,20098

In [ ]:
#file -> model load
m1 = joblib.load('/content/drive/MyDrive/kt/DecisionTree_model_220921.pkl')

In [ ]:
pred = m1.predict(ndf)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
temp = []

for v in pred:
  if v[0]:
    temp.append(1)
  else:
    temp.append(0)

In [ ]:
f = open('./result/과제2_예선_예측결과_범범형.csv', 'w')
f.write('Bid Index,winning' '\n') #앞 부분은 예시(메모장)에서 가져옴.
no = 0
for id, p in zip(kt_csv['Bid Index'], temp): 
    f.write(f'{id},{p}\n')
f.close()